<h3> Edit Project Details: </h3>


  <h2><%= @project.title() %></h2>
  <h3>Project code: <%= @project.id() %></h3>
  <% if @project.volunteers.any? %>

      <h3>Volunteers:</h3>
      <ul>
        <% @project.volunteers.each do |volunteer| %>
            <li><%= volunteer.name %></li>
        <% end %>
      </ul>
  <% end %>

<form action="/projects/<%= @project.id %>/delete" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Project</button>
</form>

<h2>Edit Project:</h2>

<form action="/projects/<%= @project.id %>/edit" method="post">
  <label for="title">Rename this project:</label>
  <input name="title" type="text">
  <button type="submit">Update Project</button>
</form>

<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="name">Add a volunteer: </label>
    <input name="name" id="name"  class="form-control" type="text">
    <button type="submit" class="btn btn-info">Add volunteer</button>
  </div>
</form>



<br>
<div class="container">
  <a href="/"><button class="btn">Return Home</a>
</div>